/* import the normalize stylesheet to eliminate differences between browser defaults */
@import url(../lib/normalize.css);

/* import the Google font 'Lato' */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic);

/*
    things we will practice in this example
    - display and fixed positioning for nav layout
    - styling svg
    - floats and clears
    - border radius
    - absolute positioning
*/

body {
    padding-top: 1em;
    font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
}

svg {
    height: 1em;
}

nav {
    background-color: rgba(0,0,0, 0.7);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav li {
    display: inline-block;
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav svg {
    fill: #fff;
}

ul {
    margin: 0;
    padding-left: 0;
}

